body {
	background-color: gray;
	margin: 0px;
}
ul {
	list-style: none;
	margin-top: 0px;
}

li {
	display: inline;
}

nav{
	background-color: lightblue;
	height: 40px;
}

img {
	max-width: 200px;
}

table, th, td {
	border: 1px solid black;
	margin: auto;

}

.center-text{
	text-align: center;
}